<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474887074959-72mjhfcaa5dvik66ggcch3boa32q1uhq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474887074959-72mjhfcaa5dvik66ggcch3boa32q1uhq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>474887074959-aa7loi91lgtcgekmbkh8amsia2pu3m49.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSw_jlxtfWK9315Bk04DMhuuzgrRX257A</string>
	<key>GCM_SENDER_ID</key>
	<string>474887074959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.srivats.todoincentive.incentiveFlutter</string>
	<key>PROJECT_ID</key>
	<string>todo-incentive</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-incentive.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474887074959:ios:cf857a2cb02baf0da6acfa</string>
	<key>DATABASE_URL</key>
	<string>https://todo-incentive.firebaseio.com</string>
</dict>
</plist>